@import './base/_default';

// Definindo a condição
@media screen and (min-width: 768px) {
    // Incluindo as regras de estilo
    body {
        body {
            background-image: url("../../images/bg-pattern-top-desktop.svg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
                            
        }

        .container__header {
            display: flex;
            flex-direction: row;

            .avaliations__card {
                
                flex-direction: row;
                gap: 2.4rem;
                justify-content: center;
                padding: 1.8rem 1.6rem;
                width: 90%; 
            }
        }

        .container__body {
            display: flex;
            gap: 1.6rem;

            .body__card {
                
                height: 21rem;
                max-height: 21rem;

            }
        }
    }
  }
  