@import './base/_default';

// Definindo a condição
@media screen and (min-width: 768px) {
    // Incluindo as regras de estilo
    body {
        body {
            background-image: url("../../images/bg-pattern-top-desktop.svg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
                            
        }

        .container__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5.4rem;

            .header__result {
                flex-basis: 40%;
                text-align: left;
                margin: 0;
            }

            .header__avaliations {
                flex-basis: 60%;

                .avaliations__card {
                
                    flex-direction: row;
                    gap: 2.4rem;
                    justify-content: center;
                    padding: 1.8rem 1.6rem;
                    width: 90%;
                    
                }

                .avaliations__card:nth-child(2) {
                    align-self: center;
                }

                .avaliations__card:nth-child(3) {
                    align-self: end;
                }
            }

            
        }

        .container__body {
            display: flex;
            gap: 1.6rem;
            height: 232px;

            .body__card {
                height: 21rem;
                max-height: 21rem;
                margin: 0;
                align-self: center;

            }

            .body__card:first-child {
                
                align-self: flex-start;

            }

            .body__card:last-child {
                
                align-self: flex-end;

            }

        }
    }
  }
  