@import './pages/_home';
@import './base/_resert.scss';
@import './base/_variable.scss';
@import './base/_typography.scss';
@import './layout/_footer';
@import '../sass/base/_default';
@import './breackpoint';


body {
    background-image: url("../../images/bg-pattern-top-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
                    
}