@
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


// Primary

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// Neutral

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$light-card-magenta: hsla(291, 31%, 88%, 0.687);
$white: hsl(0, 0%, 100%);

// default rules

$default-padding: 3.2rem;

$spacing: 2.4rem;

// font

$League-font: 'League Spartan', sans-serif;

$title-font-size: 1.8rem;

$default-font-size: 1.5rem;

// ----------------------

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    width: 100vw;
    min-height: 100vh;
    // overflow: hidden;
}

body, button, a, p, .card {
    font-size: $default-font-size;
 
}

body {
    align-items: center;
    background: $light-grayish-magenta;
    background-image: url(../../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    font-family: $League-font;
    flex-direction: column;
    justify-content: center;
    
}

.e-spacing {
    margin-bottom: $spacing;
}

.title {
    font-size: $title-font-size;
}

.btn {
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
}

.lg {
    width: 100%;
    padding: 1.2rem 1.6rem;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}

.container {
    
    // max-width: 1024px;
    width: 100%;
    padding: 3.2rem 2.4rem;

    .container__header {
        align-items: center;
        margin-bottom: 4.8rem;
        width: inherit;
        @extend %flex-column;

        .header__result {

            margin-bottom: 3.2rem;
            .result__title {
                color: $very-dark-magenta;
                font-size: 3.8rem;
                text-align: center;
                line-height: 3.2rem;
                margin-bottom: 2.4rem;
            }

            .result__description {
                color: $dark-grayish-magenta;
                font-size: 1.8rem;
                line-height: 2.0rem;
                text-align: center;
            }
        }

        .header__avaliations {
            width: inherit;
            @extend %flex-column;
            gap: 1.6rem;

            .avaliations__card {
                align-items: center;
                background-color: $light-card-magenta;
                border-radius: .8rem;
                gap: 0.8rem;
                padding: 1.4rem;
                width: inherit;
                @extend %flex-column;
                
                .card__star {
                    gap: 0.8rem;
                    .star {
    
                    }
                }
                
                .card__avaliationType {
                    color: $very-dark-magenta;
                    font-weight: bold;
                }
    
            }
        }
        
    }


    .container__body {
        width: inherit;

        .body__card:not(:last-child) {
            margin-bottom: 1.6rem;
        }

        .body__card {
            color: white;
            background-color: $very-dark-magenta;
            border-radius: 0.8rem;
            gap: 1.8rem;
            width: inherit;
            padding: 1.8rem;

            @extend %flex-column;

            .card__user-group {
                align-items: center;
                @extend %flex-row;
                gap: 1.8rem;

                .card__photo-user {
                    width: 4.0rem;
                    border-radius: 50%;
                }

                .card__name-user p:first-child {
                    font-weight: bold;
                    margin-bottom: 0.4rem;
                }

                .card__name-user p:last-child {
                    color: $soft-pink;
                    
                }
            }

            .body__user-avaliation {
                line-height: 130%;
            }

        }
    }
}

footer {
    width: 100%;
    padding: 0 2.4rem 3.2rem; 
}


@media (max-width: 728px) {
    .card__body {
        flex-direction: column;
    }
}


