 .card__content {

    min-width: 35.0rem;

    .card__userName {
      margin-top: 7.4rem;

      span {
         color: $dark-grayish-blue;
         margin-left: 0.8rem;
         font-weight: 300;
      }
    }

    .card__userAddress {
      color: $dark-grayish-blue;
      font-weight: 300;
      font-size: 1.4rem;
      margin-top: 1.2rem;
    }
 }