@import './components/';
@import './elements/';
@import './generics/';
@import './objects/';
@import './settings/';
@import './tools/';
@import './utilities/';

.square {
    width: 200px;
    height: 200px;

    background: $dark-cyan;

    @include center-x;

    display: grid;
    
}

.box {
    width: 50px;
    height: 50px ;

    background: #000;

    align-self: end;

    justify-self: flex-start;

}