.card__footer {
    display: flex;
    align-items: center;
    gap: 1.8rem;

    padding-top: 1.8rem;
    border-top: 0.1px solid var(--Very-dark-blue);
}

.card__footer img {
    width: 3.2rem;
    border: solid white 1px;
    border-radius: 50%;
}

.card__footer p {
    font-weight: 300;
    color: var(--Soft-blue);
}

.card__footer p a {
    color: white;
    text-decoration: none;
}