.card__body__title{
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s ease-out;

  }

.card__body p {
    color: var(--Soft-blue);
    font-weight: 300;
}

.card__body__valueTime {
    display: flex;
    justify-content: space-between;
}

.value, .time {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.card__body__valueTime .value p {
    color: var(--Cyan);
    font-weight: 700;
}
