/*----------  default styles  --------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #525252;
  }

  /*----------  header styles  --------------*/

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 1.2rem 2.4rem;
    
  }
  
  .menu__section.left {
    display: flex;
    justify-content: center;
    
  }

  .menu__icon {
    width: 2.1rem;
  }
  
  .menu__section.right {
    
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.4rem;
    
  }
  
  .menu__profile {
    border-radius: 100%;
    width: 3.4rem;
  }

  /*----------  main styles  --------------*/

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.6rem 1.6rem 0;
}

.content__logo {
    max-width: 56%;
    width: 40%;

    margin-top: 1.6rem;
}

.content__search__group {
    width: 90vw;
    position: relative;
    margin: 1.6rem 0;
}

.content__search {
    width: 100%;
    padding: .8rem 1.2rem;
    border-radius: 2.1rem;
    border: #EDEDED solid 2px;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.70);
}

.content__search__icon {
    position: absolute;
    top: 0.6rem;
    right: 1.2rem;
    width: 1.6rem;
}