@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-x { 
    margin: { left: auto; right: auto; } 
}

@mixin redondo($value) {
    height: $value;
    width: $value;

    border-radius: $value / 2;
}
