/* Reset CSS básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
  }

  :root {

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --ligth-gray: hsl(0, 0%, 95%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);


    font-family: "Lexend Deca", "Big Shoulders", sans-serif;

    font-size: 62.5%;
  }
  
  
  /* Configurações gerais do documento */
  html {
    font-size: 16px; /* Facilita o uso de unidades rem (boa prática) */
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Arial', sans-serif; /* Altere para sua tipografia preferida */
    background-color: var(--ligth-gray); /* Cor de fundo clara e neutra */
    line-height: 1.6; /* Boa legibilidade */
    font-size: 1.6rem;
  }
  
  /* Estilos para cabeçalhos */
  h1, h2, h3, h4, h5, h6 {
    margin: 2.4rem 0;
    font-size: 3.6rem;
    font-weight: 500;
    font-family: "Big Shoulders", sans-serif;
    text-transform: uppercase;
  }

  
  /* Layout de container */
  .container {
    display: flex;
    flex-direction: row;

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3.6rem;
    padding: 1rem;
  }

  .cards {
    color: white;
  }

  .card {
    padding: 4.8rem;
    height: 60vh;
  }

  .card .description {
    color: var(--transparent-white);
    margin-bottom: 3.2rem;
  }

  .card .btn-Lmore {
    background: var(--ligth-gray);
    border: none;
    border-radius: 2.4rem;
    padding: 1.2rem 2.4rem;

    cursor: pointer;
  }

  


  .card:first-child {
    background: var(--bright-orange);

    border-radius: 1.6rem 0 0 1.6rem;

    .btn-Lmore {
      color: var(--bright-orange);
    }
    .btn-Lmore:hover {
      color: white;
    }
  }


  .card:nth-child(2) {
    background: var(--dark-cyan);

    .btn-Lmore {
      color: var(--dark-cyan);
    }
    .btn-Lmore:hover {
      color: white;
    }
  }

  .card:last-child {
    background: var(--very-dark-cyan);

    border-radius: 0 1.6rem 1.6rem 0;

    .btn-Lmore {
      color: var(--very-dark-cyan);
    }

    .btn-Lmore:hover {
      color: white;
    }
  }

  .btn-Lmore:hover {
    background: none;
    outline: 2px solid white;
    outline-offset: -2px;
    
  }


  /* Regras responsivas */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container {
      max-width: 90%;
      display: flex;
      flex-direction: column;
    }


    .card:first-child {
      border-radius: 1.6rem 1.6rem 0 0;

    }
    
    .card:last-child {
      border-radius:  0 0 1.6rem 1.6rem;
    }


  }
  