@import url(./hero.css);
@import url(./default.css);
@import url(./header.css);
@import url(./services.css);
@import url(./banner.css);
@import url(./footer.css);

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 37.5rem;

}

.wrapBg {
    background: url(../images/bg-hero-mobile.svg);
    background-color: hsla(193, 100%, 94%, 0.21);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    height: 667px;
}

