
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* primary color */
    --Pink: hsl(322, 100%, 66%);
    
    /* Gradients */


    /* Neutral */


    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    font-size: 62.5%;

}

body {
    font-size: 1.8rem;
    font-family: 'Open Sans', 'Poppins', sans-serif;

    display: flex;
    justify-content: center;

}

ul {
    list-style: none;
}

.margin-bt-lg { /*margin-bottom-large*/
    margin-bottom: 4.8rem;
}

.margin-bt-sm { /*margin-bottom-small*/
    margin-bottom: 2.8rem;
}

.frame {
    padding: 0 2.4rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.alignColumn {
    justify-content: center;
    align-items: center;
}

.flexRun {
    display: flex;
}