footer {
    background: hsl(192, 100%, 9%);
    color: white;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 12.8rem 2.4rem 2.4rem;
    width: 100vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer__content {
    display: flex;
    flex-direction: column;

    margin-bottom: 2.4rem;
    max-width: 1440px;
    gap: 3.2rem;
    
}

    .footer__content__address {
        
    }

        .footer__logo {
            fill: white;
            width: 60%;
            margin-bottom: 1.8rem;            
        }

        .address__list .address__item{
            display: flex;
            gap: 1.2rem;

        }

        .address__list .address__item img {
            height: 1.6rem;
        }

    .footer__content__links {
        display: flex;
        gap: 1.4rem;
    }

        .content__list {
            display: flex;
            gap: 1.4rem;
        }

        .content__list:nth-child(1), .content__list:nth-child(2) {
            flex-direction: column;
            
        }

        .content__list:nth-child(3) {
            margin-top: 3.2rem;
            justify-content: center;
        }

            .ionicon {
                width: 2.4rem;
                fill: white;
                transition: fill 0.2s ease; 
            }

            .ionicon:hover {
                fill: var(--Pink);
            }

.footer__copy {
    
}

    .attribution {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        
        text-align: center;
        line-height: 1.8rem;
    }
    .attribution a {
        color: var(--Pink);
        font-weight: bold;
        
        
        }

