.hero {
    min-width: 32.0rem;
    text-align: center;
}

.hero__title {
    font-family: 'Poppins', sans-serif;
    
    
}

.hero__description, .hero__btn {
    font-family: 'Open Sans', sans-serif;
}

.hero__btn {
    color: white;
    background-color: var(--Pink);
    border: none;
    border-radius: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.06rem;
    padding: 1.6rem 0;
    width: 80%;

}

.hero__image img {
    width: 100%;
}