@media (min-width: 720px) and (min-width: 1440px) {
    .container {
        width: 144.0rem;
    }
    
    .header__logo {
        width: 10%;
    }
    .header__btn {
        width: 10%;
    }

    .hero {
        display: flex;
        height: 1000px;
    }

}