@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    color: #202024;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #F5F5F5;

    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

#app {
    height: 100vh;
    position: relative;
}

main img {
    height: 300px;
}