/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores */
:root {
    font-size: 62.5%; /* Configuração de fonte no root */
    /* Cores Primárias */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Cores Neutras */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}

/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* Configurações básicas do body */
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.3rem; /* Corrigido para usar rem */
    line-height: 1.5;
    background-color: var(--grey-100);
    color: var(--dark-blue);
    display: grid;
    place-content: center;
    height: 100vh;
} 

/*

O desafio está sendo relembrar sobre layout grid.
 */

 main {
    max-width: 1440px;
    
 }

.card {
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 2.4rem 3.2rem;
    background: var(--white);
    border-radius: 1.2rem;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 1.6rem;
}

.card:first-child {
    grid-column: 1/3;
    background: var(--purple-500);
    color: var(--white);
}

.card:nth-child(2) {
    background: var(--grey-500);
    color: white;
}

.card:last-child {
    grid-column: 4/5;
    grid-row: 1/3;
}

.card:nth-child(4) {
    grid-column: 2/4;
    background: var(--dark-blue);
    color: white;
}

.userInfo {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.userInfo .imgUser img {
    border-radius: 50%;
    width: 40px;
}

.userInfo h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

@media screen and (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
    }
}