@import url(./default.css);

footer {
    background: white;

    padding: 2.4rem;

    width: 100%;
    display: flex;
    justify-content: center;

    animation: positionY 2s ease;
    animation-fill-mode: forwards;
    animation-interation-count: 1;
}

@keyframes positionY {
    100% {
        bottom: 0;
    }
}