
// Primary

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// Neutral

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$light-card-magenta: hsla(291, 31%, 88%, 0.687);
$white: hsl(0, 0%, 100%);

// default rules

$default-padding: 3.2rem;

$spacing: 2.4rem;

// font

$League-font: 'League Spartan', sans-serif;

$title-font-size: 1.8rem;

$default-font-size: 1.5rem;

// ----------------------