:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{

    background: $Light-grayish-blue;
    
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;

}