@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');

// Primary
$cyan: hsl(179, 62%, 43%);
$cyan-light: rgb(56, 194, 192);
$bright-yellow: hsl(71, 73%, 54%);
// Neutral

$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

$default-font-size: 1.6rem;
$default-font-family: 'Karla', sans-serif;

$default-padding: 3.2rem;

$spacing: 2.4rem;

$title-font-size: 1.8rem;

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    width: 100vw;
    height: 100vh;
    
}

body, button, a, p, .card {
    font-size: $default-font-size;
    font-family: $default-font-family; 
}

body {
    align-items: center;
    background: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.e-spacing {
    margin-bottom: $spacing;
}

.title {
    font-size: $title-font-size;
}

.btn {
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
}

.lg {
    width: 100%;
    padding: 1.2rem 1.6rem;
}

.card {
    background: white;
    max-width: 720px;
    width: 80%;

    .card__header, .body__price, .body__more-info {
        padding: $default-padding;
    }

    .card__header {
        .header__title {
            color: $cyan;
        }
        .header__subtitle {
            color: $bright-yellow;
            font-weight: bold;
        }

        .header__description {
            color: $grayish-blue;
        }
    }
    
    .card__body {
        color: white;
        display: flex;
        
        width: 100%;

        .body__price {
            background: $cyan;
    
            .price__value {
                align-items: center;
                color: rgb(105, 208, 206);
                display: flex;
                gap: 0.8rem;
                
                span {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: white;
                }
            }
    
            .price__description {
                font-size: $default-font-size - 0.2rem;
            }
    
            .price__btn {
                color: white;
                background: $bright-yellow;
                box-shadow: 0 0.4rem 0.8rem rgba(44, 121, 119, 0.406);
            }
        }
        
        .body__more-info {
            background: $cyan-light;
        }
    
        .body__price, .body__more-info {
            flex-basis: 50%;
        }
    }

}

@media (max-width: 728px) {
    .card__body {
        flex-direction: column;
    }
}


